:root {
    --cinza-claro: #ded9da;
    --branco: #ffffff;
    --cor-texto: #17143f;
    --vermelho: #821B47;
    --vermelho-claro: #be2a4a;
    --azul: rgba(0, 80, 251, 0.21);
}

.home-header {
    border-bottom: 2px solid var(--cinza-claro);
    background: var(--branco);

    display: flex;
    justify-content: center;

    padding: 20px;

    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}



.div-header {
    width: min(1220px, calc(100% - 48px));
    min-width: 84px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.div-header img {
   width: 160px;
}

.nav-header {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 80px;
}

.div-header button {
    background-color: transparent;
    border: none;
    color: var(--cor-texto);
    cursor: progress;
    font-size: 20px;
}

.nav-header a {
    color: black;
    text-decoration: none;
}


.home-banner img {
    width: 100%;
    max-height: 650px;
    object-fit: cover;
}

.home-visao,
.home-eventos,
.home-contato {

    width: min(1200px, calc(100% - 48px));

    margin: 0 auto;
    padding: 64px 0;
}

.home-eventos-lista {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: 32px;
}

.home-eventos-card {
    border: 1px solid var(--cinza-claro);
    border-radius: 12px;
    overflow: hidden;
    border-color: var(--vermelho);
    max-width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.home-eventos-card img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.home-eventos-card span {
    background-color: var(--azul);
    color: var(--cor-texto);
    border-radius: 20px;
    padding: 5px;
    width: max-content;
}


.home-eventos-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
}

.home-eventos-info button {
    border: none;
    background: transparent;
    margin: 20px;
    color: var(--vermelho-claro);
    font-size: 18px;
    cursor: pointer;
    
}

.home-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home-titulo hr {
    width: 240px;
    border: 1px solid var(--vermelho-claro);
    margin-top: 8px;
}



.home-eventos-card h3,
.home-eventos-card p,
.home-eventos-card span,
.home-eventos-card button {
    margin: 12px 16px;
}





.home-footer {
    padding: 24px;
    text-align: center;
    background: var(--branco);
    color: var(--cor-texto);
}

.home-visao img {
    max-width: 350px;
}

.home-visao-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.home-visao {
    background: var(--vermelho);
    width: 100%;
}

.home-visao-texto {
    color: var(--branco);
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.home-contato {
    background-color: var(--vermelho);
    color: var(--branco);
    width: 100%;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-contato-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}



.home-contato-titulo hr {
    width: 150px;
    border: 1px solid var(--branco);
    margin-top: 6px;
}

.home-contato-container {
    width: min(1100px, calc(100% - 48px));
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.home-contato-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size:20px;
    
}
.home-contato-texto hr {
    display: flex;
    align-items: center;
    text-align: center;
    width: 35%;
}


.home-contato-mapa {
    flex: 1;
    display: flex;
    justify-content: center;
}

